// ██╗███╗   ██╗ ██████╗██╗     ██╗   ██╗██████╗ ███████╗███████╗
// ██║████╗  ██║██╔════╝██║     ██║   ██║██╔══██╗██╔════╝██╔════╝
// ██║██╔██╗ ██║██║     ██║     ██║   ██║██║  ██║█████╗  ███████╗
// ██║██║╚██╗██║██║     ██║     ██║   ██║██║  ██║██╔══╝  ╚════██║
// ██║██║ ╚████║╚██████╗███████╗╚██████╔╝██████╔╝███████╗███████║
// ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝ ╚═════╝ ╚═════╝ ╚══════╝╚══════╝
@import './colors';

*, *::after, *::before {
    box-sizing border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI' Tahoma Geneva Verdana sans-serif;
    font-size: 16px;
}

.container {
    margin: 5px 0px;
    padding: 0px 5px;
}

// ███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
// ████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
// ██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
// ██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
// ██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
// ╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝

//
// Mixin set button color
//
set-button-color(pBackground, pColor) {
    set-button-style(pBackground, pColor, 'default');
}

set-flat-button(pBackground, pColor) {
    set-button-style(pBackground, pColor, 'flat');
}

set-button-style(pBackground, pColor, pStyle) {
    @extend .mybtn;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background !important;
    transition-duration: 0.5 !important;

    if (pStyle == 'default') {
        background-color: pBackground !important;
        color: pColor !important;

        i {
            color: pColor !important;
        }

        &:hover {
            box-shadow: 0px 5px 18px -2px lighten(pBackground, 10);
        }
    }

    if (pStyle == 'flat') {
        background-color: transparent !important;
        color: pColor !important;

        i {
            color: pBackground !important;
        }

        &:hover {
            background: pBackground !important;

            i {
                color: pColor !important;
            }
        }
    }
}

// ███████╗██╗     ███████╗██╗  ██╗
// ██╔════╝██║     ██╔════╝╚██╗██╔╝
// █████╗  ██║     █████╗   ╚███╔╝
// ██╔══╝  ██║     ██╔══╝   ██╔██╗
// ██║     ███████╗███████╗██╔╝ ██╗
// ╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
.flex {
    display: flex !important;
}

.row {
    display: flex !important;
    flex-direction: row !important;
}

.row-v-center {
    @extend .row;
    align-items: center !important;
    align-content: center !important;
}

.row-h-center {
    @extend .row;
    justify-content: center !important;
}

.column {
    @extend .flex;
    flex-direction: column !important;
}

.column-v-center {
    justify-content: center !important;
}

.column-h-center {
    align-items: center !important;
}

.fj-around {
    justify-content: space-around !important;
}

.fj-between {
    justify-content: space-between !important;
}

.fj-start {
    justify-content: flex-start !important;
}

.fa-start {
    align-items: flex-start !important;
}

.fj-end {
    justify-content: flex-end !important;
}

.fa-end {
    align-items: flex-end !important;
}

.fj-center {
    justify-content: center !important;
}

.fa-center {
    align-items: center !important;
}

// Flex grow from 1 to 12 children
for i in 1 .. 12 {
    .grow-{i} {
        flex-grow: v;
    }
}

.dev {
    border: 1px dashed tomato !important;
}

.dev--blue {
    border: 1px solid blue !important;
}

// ██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗
// ██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝
// ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗
// ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║
// ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║
// ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝
.mybtn {
    padding: 3px !important;
    margin: 1px !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    transition-property: box-shadow !important;
    transition-duration: 0.5s;
}

//
// Square buttons
//
.mybtn-default {
    set-button-color(#127ce4, white);
}

.mybtn-success {
    set-button-color(#46c93a, white);
}

.mybtn-warning {
    set-button-color(#ffba00, white);
}

.mybtn-danger {
    set-button-color(#ff4757, white);
}

.mybtn-dark {
    set-button-color(#000000, white);
}

//
// Square Flat buttons
//
.mybtn-default--flat {
    set-flat-button(primary-blue-color, primary-contrast);
}

.mybtn-success--flat {
    set-flat-button(success-color, success-contrast);
}

.mybtn-warning--flat {
    set-flat-button(warning-color, warning-contrast);
}

.mybtn-danger--flat {
    set-flat-button(danger-color, danger-contrast);
}

.mybtn-dark--flat {
    set-flat-button(dark-color, dark-contrast);
}
