
// ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
// ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
// ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
// ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
// ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
// ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
// 
primary-blue-color = #127ce4;
primary-contrast = #ffffff;
success-color = #46c93a;
success-contrast = #ffffff;
warning-color = #ffba00;
warning-contrast = #ffffff;
danger-color = #ff4757;
danger-contrast = #ffffff;
dark-color = #000000;
dark-contrast = #ffffff;